<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.mapper.ActivityOrderMapper">

    <select id="getNumOfActive" parameterType="Integer" resultType="Integer">
        SELECT
            COALESCE(sum(people_num),0)
        FROM
            activity_order
        WHERE
            activity_id = #{activeId}
    </select>

    <select id="selectData" resultType="com.eim.entity.ActivityOrder">
        SELECT
        a.order_id,
        a.store_name,
        a.name,
        a.mobile,
        a.address,
        a.store_name,
        a.activity_time,
        w.nick_name,
        w.avatar_url
        FROM
        activity_order a
        LEFT JOIN wechat_info w ON a.open_id = w.open_id

        <trim prefix="where" prefixOverrides="and|or">

            <if test=" activeId != null and activeId != 0">
                and a.activity_id = #{activeId}
            </if>

            <if test=" province != null or province != ''">
                and a.store_name like '%${province}%'
            </if>

            <if test=" city != null or city != ''">
                and a.store_name like '%${city}%'
            </if>

            <if test=" area != null or area != ''">
                and a.store_name like '%${area}%'
            </if>

            <if test="storeName != null or storeName != ''">
                and a.store_name like '%${storeName}%'
            </if>
        </trim>
        limit #{start}, #{num}
    </select>


    <select id="selectDataOfStore" resultType="com.eim.entity.ActivityOrder">
        SELECT
        a.order_id,
        a.name,
        a.mobile,
        a.address,
        a.store_name,
        a.activity_time,
        w.nick_name,
        w.avatar_url
        FROM
        activity_order a
        LEFT JOIN wechat_info w ON a.open_id = w.open_id

        <trim prefix="where" prefixOverrides="and|or">

            <if test=" activeId != null and activeId != 0">
                and a.activity_id = #{activeId}
            </if>

            <if test="storeId != null and storeId != 0">
                and a.store_id = #{storeId}
            </if>
        </trim>
        limit #{page}, #{num}
    </select>

</mapper>
