<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.mapper.ActivityInfoMapper">

    <select id="getActivityByCity" parameterType="String" resultType="com.eim.entity.ActivityInfo">
        select
            active_id, cover_url, title, status
        from
            activity_info
        where
            city like CONCAT('%',#{city},'%') and status = 1
    </select>

    <select id="getActivityByPage" resultType="com.eim.entity.ActivityInfo">
        select
        active_id, title, store_id, status
        from
        activity_info
        ORDER BY active_id DESC
        limit #{start}, #{num}
    </select>

</mapper>
