<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eim.mapper.ComboMapper">

    <select id="selectByIdSet" resultType="com.eim.entity.Combo">
        SELECT
        id,name,pic
        from
        activity_combo
        WHERE id IN
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="addCombo" parameterType="com.eim.entity.Combo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO activity_combo(name,pic,create_time)values(#{name},#{pic},#{createTime})
    </insert>

</mapper>
